* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}

html, body, input, textarea {
    font-family: 'Mulish', sans-serif;
}

.home {
    display: flex;
    flex-direction: column;

    

    align-items: center;
}

.about {
    padding: 5.6rem;
    background: linear-gradient(96deg, #343193 0%, #302C63 99.68%);
    
    display: flex;
    flex-direction: column;
    gap: 5rem;
    align-items: center;
}

.card {
    padding: 2.4rem;
    background-color: #fff;
    border-radius: 2rem;

    max-width: 430px;
}

.card h2 {
    font-size: 2.9rem;
    color: #B52184;
    font-weight: 900;

    margin-top: 2.8rem;
    margin-bottom: 1rem;
}

