* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}

html, body, input, textarea, button {
    font-family: 'Mulish', sans-serif;
}

.home {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 0 3.2rem 5.2rem;
}

#banner {
    max-width: 300px;
}

.home h1 {
    color: #B52184;
    font-size: 3.2rem;
    font-weight: 900;

    padding-block: 1.7rem 0.5rem ;
}

.home p {
    color: #312D64;
    font-size: 2.0rem;
    font-weight: 600;

    padding-bottom: 3.5rem;
}

.about {
    padding: 5.6rem 3.2rem;
    background: linear-gradient(96deg, #343193 0%, #302C63 99.68%);
    
    display: flex;
    flex-direction: column;
    gap: 5rem;
    align-items: center;
}

.card {
    padding: 2.4rem;
    background-color: #fff;
    border-radius: 2rem;

    max-width: 430px;
}

.card h2 {
    font-size: 2.9rem;
    color: #B52184;
    font-weight: 900;

    margin-top: 2.8rem;
    margin-bottom: 1rem;
}

.card p {
    color: #312D64;
    font-weight: 600;
}

.contato {
    margin: auto;
    padding: 7.8rem 3.2rem 6.5rem;
    max-width: 430px;
    display: flex;
    flex-direction: column;
}

.contato h2 {
    color: #B52184;
    font-size: 3.2rem;
    font-weight: 900;

    padding-bottom: 4.3rem;
}

form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.input-wrapper input, .input-wrapper textarea {
    width: 100%;
    padding: 1.2rem;
    border-radius: 1.6rem;
    border: 1.5px solid #312D64;
}

.input-wrapper input {
    height: 4.8rem;
}

.input-wrapper textarea {
    height: 12.6rem;
}

form button {
    border-radius: 16px;
    background: linear-gradient(96deg, #343193 0%, #302C63 99.68%);
    color: white;
    border: none;
    width: 15rem;

    padding: 1.6rem;
}

footer {
    padding: 3.2rem 1.6rem;
    text-align: center;

    background: linear-gradient(96deg, #343193 0%, #302C63 99.68%);
    color: white;
}